.hljs-comment,
.hljs-quote,
.hljs-meta {
  color: #6a737d;
}

.hljs-keyword,
.hljs-meta-keyword,
.hljs-subst {
  color: #d73a49;
}

.hljs-link,
.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-attribute {
  color: #005cc5;
}

.hljs-string,
.hljs-doctag,
.hljs-regexp {
  color: #032f62;
}

.hljs-name,
.hljs-selector-tag {
  color: #22863a;
}

.hljs-attr,
.hljs-title,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-pseudo {
  color: #6f42c1;
}

.hljs-symbol,
.hljs-bullet {
  color: #ed6a43;
}

.hljs-code {
  background: rgba(0, 0, 0, 0.05);
}

.hljs-deletion {
  background: #ffecec;
}

.hljs-addition {
  background: #eaffea;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-section,
.hljs-strong {
  font-weight: bold;
}
