#TableOfContents {
  max-width: 80%;
  border: solid 1px #999999;
  margin: 20px 20px 20px auto;

  &:before {
    content: "Table of Contents";
    margin: 6px;
    padding: 6px;
  }

  & > ul {
    margin: 8px;
    padding: 0;
    list-style-type: none;
  }

  & > ul > li > ul > li > ul {
    display: none;
  }
}
