@forward "common/color";
@forward "common/element";

:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    $link-hue: 220deg;
    $text-lightness: 75%;
    --canvas: #000;
    --canvas-text: hsl(#{$link-hue} 0% #{$text-lightness});
    --link-text: hsl(#{$link-hue} 100% #{$text-lightness});
  }
}

html {
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ul,
ol {
  padding-inline-start: 1.7rem;
}

li {
  margin-block: 0.2em;

  p {
    margin-block: 0.5em;
  }
}

dl {
  dt {
    font-weight: bold;
    margin-block-start: 1em;
  }

  dd {
    margin-block: 0.3em;
    margin-inline: 1em 0;
    position: relative;

    p {
      margin-block: 0.3em;
    }

    &::before {
      content: ":";
      opacity: 0.25;
      position: absolute;
      left: -0.8em;
    }
  }
}

table {
  box-shadow: 0 0 8px #8886;
  border-spacing: 4px;
}

thead {
  background: #8883;
}

th,
td {
  padding: 2px 4px;
}

a svg:hover {
  transform: scale(1.3);
}
