@forward "common/color";
@forward "common/element";

:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --canvas: #000;
    --link-text: oklch(80% 0.16 256deg);
  }
}
