$pl-c: #6a737d;
$pl-e: #6f42c1;
$pl-ent: #22863a;
$pl-c1: #005cc5;
$pl-s: #032f62;
$pl-k: #d73a49;
$pl-v: #e36209;

.chroma {
  .err,
  .w,
  .n,
  .o,
  .p { color: #444; }

  .k,
  .kd,
  .kn,
  .kp,
  .kr,
  .ow { color: $pl-k; }

  .kc,
  .kt,
  .no,
  .nd,
  .ni,
  .nn,
  .vc,
  .vg,
  .vi,
  .vm { color: $pl-c1; }

  .na,
  .nc,
  .nf,
  .nv,
  .nx { color: $pl-e; }

  .nb,
  .bp,
  .ne,
  .nl,
  .nt { color: $pl-ent; }

  .s,
  .sa,
  .sb,
  .sc,
  .dl,
  .sd,
  .s2,
  .se,
  .sh,
  .si,
  .sx,
  .sr,
  .s1,
  .ss { color: $pl-s; }

  .m,
  .mb,
  .mf,
  .mh,
  .mi,
  .il,
  .mo { color: $pl-c1; }

  .c,
  .ch,
  .cm,
  .c1,
  .cs,
  .cp,
  .cpf { color: $pl-c; }

  .ge { font-style: italic; }
  .gs { font-weight: bold; }

  .gh,
  .gu { color: #000; }

  .gd,
  .gr,
  .gi,
  .go,
  .gp,
  .gt,
  .x { color: #d70; }

  .ln {
    margin-right: 0.4em;
    padding: 0 0.4em;
  }
}
