@media (max-width: 650px) {
  body {
    padding: 0;
    font-size: 0.9rem;
  }

  .menu {
    width: 100%;
    order: 2;
    margin: 12px 0;
  }

  main {
    max-width: 100%;
    order: 1;
  }
}

@media print {
  html {
    font-size: 70%;
  }

  body {
    background: none;
    color: #000;
  }

  nav {
    display: none;
  }

  main {
    margin: 0;
    width: 100%;
    max-width: none;
    box-shadow: none;
  }
}
