@charset "UTF-8";
$color-text:    #444;
$color-link:    #429131;
$color-theme:   #e08010;
$color-note:    #e08010;
$color-warning: #a4321a;
$sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Helvetica, "Yu Gothic Medium", sans-serif;
$monospace: Menlo, Consolas, "DejaVu Sans Mono", monospace;

@font-face {
  font-family: "Yu Gothic Medium";
  src: local("Yu Gothic Medium");
  font-weight: normal;
}

@font-face {
  font-family: "Yu Gothic Medium";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  min-height: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 16px;
  color: $color-text;
  background-color: #eee;
  font-family: $sans-serif;
  line-height: 1.44;
}

a {
  color: $color-link;
  text-decoration: none;
}

header {
  width: 100%;
  display: flex;

  h1 {
    margin: 10px 6px;
    font-size: 1.2rem;
    font-weight: normal;
  }

  a {
    color: inherit;
  }

  .logo {
    height: 32px;
    vertical-align: text-bottom;
    margin-right: 4px;
  }
}

footer {
  order: 3;
  width: 100%;
  color: #999;
  padding: 12px 4px;
  text-align: right;
}

ul,
ol {
  padding-left: 1.8rem;
}

li {
  padding: 0.1rem 0;
}

main,
.menu {
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

main {
  background-color: #fff;
  flex: 1;
  max-width: calc(100% - 216px);
  order: 2;
  padding: 20px;
}

article {
  header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    h1 {
      margin: 0;
      font-size: 1.4rem;
      font-weight: bold;
      background: none;
      border: none;
    }
  }

  h2 {
    font-size: 1.4rem;
    background-color: #e8e8e8;
    border-left: solid 8px #aaa;
    margin: 32px 0 12px -8px;
    padding: 6px 8px;
    font-weight: normal;
  }

  header + h2 {
    margin-top: 18px;
  }

  h3 {
    font-size: 1.2rem;
    border-left: solid 6px #ccc;
    border-bottom: solid 2px #ccc;
    margin: 24px 0 8px -6px;
    padding: 4px 6px;
    font-weight: normal;
  }

  h4 {
    font-size: 1.1rem;
    border-left: solid 5px #ccc;
    margin: 18px 0 0 -5px;
    padding: 3px 5px;
    font-weight: normal;
  }

  a:hover {
    text-decoration: underline;
  }
}

pre,
code,
kbd {
  font-family: $monospace;
}

code {
  background-color: #f7f7f7;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 2px 4px;
  font-size: 0.85em;
}

pre {
  background-color: #f6f8fa;
  padding: 8px;
  margin: -4px 0 20px;
  line-height: 1.4;
  overflow-x: auto;

  code {
    background: none;
    padding: 0;
  }
}

kbd {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.7em;
  padding: 1px 5px;
  margin: -4px 2px 0 0;
  box-shadow: 0 -1px 0 #aaa inset;
  border: solid 1px #ccc;
  border-radius: 3px;
  background: #fcfcfc;
}

dl {
  dt {
    font-weight: bold;
    padding: 2px 0 0;
  }

  dd {
    margin: 0 0 4px 1.5rem;
  }
}

dd p {
  margin-top: 6px;
}

table {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  border-spacing: 4px;
}

thead {
  background: #ddd;
}

th,
td {
  padding: 2px 4px;
}

blockquote {
  margin: 8px 16px;
  padding: 4px 12px 1px;
  border-left: solid 4px #ccc;
  position: relative;

  &::before {
    content: "“";
    position: absolute;
    top: -10px;
    left: 8px;
    font-size: 2.4rem;
    font-family: serif;
    color: #999;
  }
}

.tags {
  margin: 0 0 0 auto;

  ul {
    margin: 0;
  }
}

.tags li,
.terms dt {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: normal;
  color: #fff;
  background-color: #bbb;

  a {
    color: inherit;
  }
}

.terms {
  ul {
    margin: 0 0 3ex;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }
}

a svg:hover {
  transform: scale(1.3);
}

.readmore {
  padding: 3px 30px 3px 20px;
  border-radius: 4px;
  font-weight: normal;
  color: #fff;
  background-color: #bbb;
  position: relative;

  &:hover {
    background-color: $color-text;
    text-decoration: none;
  }

  &::after {
    content: "❯";
    position: absolute;
    right: 8px;
    color: #fff;
  }
}

@import "menu";
@import "sce";
@import "box";
@import "toc";
@import "media";
@import "chroma";
@import "fontawesome";
