@mixin box-base($content, $color, $bgcolor) {
  margin: 0.5rem 0;
  padding-block: 0.4rem;
  padding-inline: 2rem 1rem;
  position: relative;
  background-color: $bgcolor;

  & > p {
    margin: 0.25rem 0;
  }

  &::before {
    content: $content;
    color: $color;
    font-family: "Ubuntu mono", monospace;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
    display: inline-block;
    position: absolute;
    left: 0.7rem;
  }
}

.warning {
  @include box-base("!", #a32, #e322);
}

.note {
  @include box-base("i", #16c, #1af2);
}
