@mixin box-base {
  margin: 0.5rem 0;
  padding-block: 0.4rem;
  padding-inline: 2rem 1rem;
  position: relative;

  & > p {
    margin: 0.25rem 0;
  }

  &::before {
    font-family: "Ubuntu mono", monospace;
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
    display: inline-block;
    position: absolute;
    left: 0.7rem;
  }
}

.warning {
  @include box-base;

  background-color: #e322;

  &::before {
    content: "!";
    color: #a32;
  }
}

.note {
  @include box-base;

  background-color: #1af2;

  &::before {
    content: "i";
    color: #16c;
  }
}
