@forward "footnote";
@forward "toc";
@forward "common/alert";
@forward "common/bubble";
@forward "common/readmore";

.tags {
  margin-inline-start: auto;

  ul {
    margin: 0;
  }
}

.tags a,
.terms dt a {
  display: inline-block;
  font-size: 0.88rem;
  font-weight: normal;
  padding: 1px 9px;
  border-radius: 2em;
  color: var(--canvas-text);
  opacity: 0.88;
  background-color: #9996;

  &:hover {
    opacity: 1;
    text-decoration: none;
  }
}

.terms {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin-block: 0;
    margin-inline: 0 1.4em;
  }
}
