@forward "footnote";
@forward "toc";
@forward "common/alert";
@forward "common/bubble";
@forward "common/readmore";

header .tags {
  margin-inline-start: auto;
}

.tags a,
.terms dt a {
  font-size: 0.88rem;
  font-weight: normal;
  padding: 0.25em 0.6em;
  border-radius: 1em;
  color: var(--canvas-text);
  opacity: 0.88;
  background-color: hsl(0deg 0% 66% / 33%);

  &:hover {
    opacity: 1;
    text-decoration: none;
  }
}

.terms dd {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0 1.5em;
}
