.cse-search-box {
  margin-block: 16px 0;

  input {
    font-size: 0.8rem;
    padding: 4px;
    width: 100%;
    border: solid 1px #bbb;
    background: #fff;

    &:not(:focus) {
      background: #fff url("/google_custom_search_watermark.zopfli.png") 2px center no-repeat;
    }
  }
}

.cse-results table {
  box-shadow: none;
}

.gsc-adBlock {
  height: 1rem !important;
  overflow: hidden;
}
