@charset "UTF-8";
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: normal;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  min-height: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 16px;
  color: #444;
  background-color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Helvetica, "Yu Gothic", sans-serif;
  line-height: 1.44;
}

a {
  color: #429131;
  text-decoration: none;
}

header {
  width: 100%;
  display: flex;
}

header h1 {
  margin: 10px 6px;
  font-size: 1.2rem;
  font-weight: normal;
}

header a {
  color: inherit;
}

header .logo {
  height: 32px;
  vertical-align: text-bottom;
  margin-right: 4px;
}

footer {
  order: 3;
  width: 100%;
  color: #999;
  padding: 12px 4px;
  text-align: right;
}

ul,
ol {
  padding-left: 1.8rem;
}

main,
.menu {
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

main {
  background-color: #fff;
  flex: 1;
  max-width: calc(100% - 216px);
  order: 2;
  padding: 20px;
}

article header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

article header h1 {
  margin: 0;
  font-size: 1.4rem;
  font-weight: bold;
  background: none;
  border: none;
}

article h2 {
  font-size: 1.4rem;
  background-color: #e8e8e8;
  border-left: solid 8px #aaa;
  margin: 32px 0 12px -8px;
  padding: 6px 8px;
  font-weight: normal;
}

article header + h2 {
  margin-top: 18px;
}

article h3 {
  font-size: 1.2rem;
  border-left: solid 6px #ccc;
  border-bottom: solid 2px #ccc;
  margin: 24px 0 8px -6px;
  padding: 4px 6px;
  font-weight: normal;
}

article h4 {
  font-size: 1.1rem;
  border-left: solid 5px #ccc;
  margin: 18px 0 0 -5px;
  padding: 3px 5px;
  font-weight: normal;
}

article a:hover {
  text-decoration: underline;
}

pre,
code,
kbd {
  font-family: Menlo, Consolas, "DejaVu Sans Mono", monospace;
}

code {
  background-color: #f7f7f7;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 2px 4px;
  font-size: 0.85em;
}

pre {
  background-color: #f6f8fa;
  padding: 8px;
  margin: -4px 0 20px;
  line-height: 1.4;
  overflow-x: auto;
}

pre code {
  background: none;
  padding: 0;
}

kbd {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.75rem;
  padding: 1px 4px;
  margin: -4px 2px 0 0;
  box-shadow: 1px 1px 1px #808080;
  border: solid 1px #ccc;
  border-radius: 3px;
}

dl dt {
  font-weight: bold;
  padding: 2px 0 0;
}

dl dd {
  margin: 0 0 4px 1.5rem;
}

dd p {
  margin-top: 6px;
}

table {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  border-spacing: 4px;
}

thead {
  background: #ddd;
}

th,
td {
  padding: 2px 4px;
}

blockquote {
  margin: 8px 16px;
  padding: 4px 12px 1px;
  border-left: solid 4px #ccc;
  position: relative;
}

blockquote::before {
  content: "“";
  position: absolute;
  top: -10px;
  left: 8px;
  font-size: 2.4rem;
  font-family: serif;
  color: #999;
}

.tags {
  margin: 0 0 0 auto;
}

.tags ul {
  margin: 0;
}

.tags li,
.terms dt {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: normal;
  color: #fff;
  background-color: #bbb;
}

.tags li a,
.terms dt a {
  color: inherit;
}

.terms ul {
  margin: 0 0 3ex;
  padding: 0;
}

.terms li {
  display: inline-block;
  margin: 0 10px;
}

.readmore {
  padding: 3px 30px 3px 20px;
  border-radius: 4px;
  font-weight: normal;
  color: #fff;
  background-color: #bbb;
  position: relative;
}

.readmore:hover {
  background-color: #429131;
  text-decoration: none;
}

.readmore::after {
  content: "❯";
  position: absolute;
  right: 8px;
  color: #fff;
}

.menu {
  width: 200px;
  order: 1;
  background-color: #fff;
  padding: 0;
}

.menu ul {
  margin: 0;
  padding: 0;
  transition: all 0.2s ease-out;
  list-style: none;
  max-height: 0;
  overflow: hidden;
}

.menu a {
  padding: 5px 13px;
  color: inherit;
  display: block;
}

.menu div {
  padding: 0;
}

.menu div > a {
  padding: 10px 6px;
  font-size: 1.1rem;
}

.menu label {
  display: block;
  position: relative;
  padding: 10px 6px;
  font-size: 1.1rem;
}

.menu label::after {
  content: "❯";
  position: absolute;
  right: 8px;
  color: #ccc;
  transition: all 0.2s ease-out;
}

.menu label.active::after {
  color: #429131;
}

.menu input {
  display: none;
}

.menu input:checked + label + ul {
  max-height: 800px;
}

.menu input:checked + label::after {
  transform: rotate(90deg);
}

.menu li {
  background: #f4f4f4;
}

.menu div,
.menu label,
.menu li,
.menu label.active {
  border-bottom: 1px solid #ccc;
}

.menu .active {
  font-weight: bold;
  color: #429131;
  border-color: #429131;
}

.menu label:hover,
.menu a:hover {
  cursor: pointer;
  color: #429131;
  background-color: #f8fcf8;
}

.cse-search-box {
  margin: 16px 0 6px auto;
}

.cse-search-box input {
  padding: 2px;
  font-size: 0.8rem;
  width: 10em;
  background: #fff;
}

.cse-search-box input:invalid {
  background: #fff url(https://www.google.com/cse/static/en/google_custom_search_watermark.gif) left no-repeat;
}

.cse-results table {
  box-shadow: none;
}

.gsc-adBlock {
  height: 1rem !important;
  overflow: hidden;
}

.warning {
  display: block;
  margin: 8px 0;
  padding: 6px 10px 6px 40px;
  position: relative;
  background-color: #fbe9e6;
}

.warning > p {
  margin: 4px 0;
}

.warning::before {
  font-family: "Ubuntu mono", monospace;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
  display: inline-block;
  position: absolute;
  left: 10px;
  text-align: center;
  vertical-align: middle;
  border-radius: 10%;
  width: 24px;
  line-height: 1.7;
}

.warning::before {
  content: "!";
  color: #a4321a;
}

.note {
  display: block;
  margin: 8px 0;
  padding: 6px 10px 6px 40px;
  position: relative;
  background-color: #fef6ec;
}

.note > p {
  margin: 4px 0;
}

.note::before {
  font-family: "Ubuntu mono", monospace;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
  display: inline-block;
  position: absolute;
  left: 10px;
  text-align: center;
  vertical-align: middle;
  border-radius: 10%;
  width: 24px;
  line-height: 1.7;
}

.note::before {
  content: "i";
  color: #e08010;
}

#TableOfContents {
  max-width: 80%;
  border: solid 1px #999;
  margin: 20px 20px 20px auto;
}

#TableOfContents::before {
  content: "Table of Contents";
  margin: 6px;
  padding: 6px;
}

#TableOfContents > ul {
  margin: 8px;
  padding: 0;
  list-style-type: none;
}

#TableOfContents > ul > li > ul > li > ul {
  display: none;
}

@media (max-width: 650px) {
  body {
    padding: 0;
    font-size: 0.9rem;
  }
  .menu {
    width: 100%;
    order: 2;
    margin: 12px 0;
  }
  main {
    max-width: 100%;
    order: 1;
  }
}

@media print {
  body {
    background: none;
    color: #000;
    font-size: 0.8rem;
  }
  nav {
    display: none;
  }
  main {
    margin: 0;
    width: 100%;
    max-width: none;
    box-shadow: none;
  }
}

.chroma .err,
.chroma .w,
.chroma .n,
.chroma .o,
.chroma .p {
  color: #444;
}

.chroma .k,
.chroma .kd,
.chroma .kn,
.chroma .kp,
.chroma .kr,
.chroma .ow {
  color: #d73a49;
}

.chroma .kc,
.chroma .kt,
.chroma .no,
.chroma .nd,
.chroma .ni,
.chroma .nn,
.chroma .vc,
.chroma .vg,
.chroma .vi,
.chroma .vm {
  color: #005cc5;
}

.chroma .na,
.chroma .nc,
.chroma .nf,
.chroma .nv,
.chroma .nx {
  color: #6f42c1;
}

.chroma .nb,
.chroma .bp,
.chroma .ne,
.chroma .nl,
.chroma .nt {
  color: #22863a;
}

.chroma .s,
.chroma .sa,
.chroma .sb,
.chroma .sc,
.chroma .dl,
.chroma .sd,
.chroma .s2,
.chroma .se,
.chroma .sh,
.chroma .si,
.chroma .sx,
.chroma .sr,
.chroma .s1,
.chroma .ss {
  color: #032f62;
}

.chroma .m,
.chroma .mb,
.chroma .mf,
.chroma .mh,
.chroma .mi,
.chroma .il,
.chroma .mo {
  color: #005cc5;
}

.chroma .c,
.chroma .ch,
.chroma .cm,
.chroma .c1,
.chroma .cs,
.chroma .cp,
.chroma .cpf {
  color: #6a737d;
}

.chroma .ge {
  font-style: italic;
}

.chroma .gs {
  font-weight: bold;
}

.chroma .gh,
.chroma .gu {
  color: #000;
}

.chroma .gd,
.chroma .gr,
.chroma .gi,
.chroma .go,
.chroma .gp,
.chroma .gt,
.chroma .x {
  color: #d70;
}

.chroma .ln {
  margin-right: 0.4em;
  padding: 0 0.4em;
}
