@charset "UTF-8";
/*csslint
  box-model: false, box-sizing: false,
  universal-selector: false, font-sizes: false,
  qualified-headings: false, unique-headings: false,
*/
* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  min-height: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 16px;
  color: #444444;
  background-color: #eeeeee;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Hiragino Kaku Gothic ProN", "Yu Gothic", Meiryo, sans-serif;
}

header {
  width: 100%;
  display: flex;
}

header h1 {
  margin: 10px 6px;
  font-size: 1.2rem;
  font-weight: normal;
}

header a {
  color: inherit;
}

header .logo {
  height: 32px;
  vertical-align: text-bottom;
  margin-right: 4px;
}

footer {
  order: 3;
  width: 100%;
  color: #999999;
  padding: 12px 4px;
  text-align: right;
  font-size: 0.8rem;
}

ul, ol {
  padding-left: 1.8rem;
}

a {
  color: #1199aa;
  text-decoration: none;
}

main, .menu {
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}

main {
  background-color: #ffffff;
  flex: 1;
  max-width: calc(100% - 216px);
  order: 2;
  padding: 20px 20px 20px 20px;
}

article header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

article header h1 {
  margin: 0;
  font-size: 1.4rem;
  font-weight: bold;
  background: none;
  border: none;
}

article header + h2 {
  margin-top: 18px;
}

article h2 {
  font-size: 1.4rem;
  background-color: #e8e8e8;
  border-left: solid 8px #aaaaaa;
  margin: 32px 0 12px 0;
  padding: 6px 8px;
  font-weight: normal;
}

article h3 {
  font-size: 1.2rem;
  border-bottom: solid 2px #cccccc;
  font-weight: normal;
}

article a:hover {
  text-decoration: underline;
}

pre, code, kbd {
  font-family: "Ubuntu Mono", "DejaVu Sans Mono", Menlo, Consolas, monospace;
}

code {
  background-color: #f7f7f7;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 2px 4px;
}

pre {
  background-color: #f7f7f7;
  padding: 8px;
  margin: -4px 0 20px;
  line-height: 1.3;
  overflow-x: auto;
}

pre code {
  background: none;
  padding: 0;
}

kbd {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.92rem;
  padding: 1px 4px 1px;
  margin: -4px 2px 0 0;
  box-shadow: 1px 1px 1px #808080;
  border: solid 1px #cccccc;
  border-radius: 3px;
}

dl dt {
  font-weight: bold;
  padding: 2px 0 0 0;
}

dl dd {
  margin: 0 0 4px 1.5rem;
}

dd p {
  margin-top: 6px;
}

table {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  border-spacing: 4px;
}

thead {
  background: #dddddd;
}

th, td {
  padding: 2px 4px;
}

blockquote {
  margin: 8px 16px;
  padding: 4px 12px 1px;
  border-left: solid 4px #cccccc;
  position: relative;
}

blockquote:before {
  content: "“";
  position: absolute;
  top: -10px;
  left: 8px;
  font-size: 2.4rem;
  font-family: serif;
  color: #999999;
}

.tags {
  margin: 0 0 0 auto;
}

.tags li, .terms dt {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 4px;
  font-size: 0.8rem;
  font-weight: normal;
  color: #ffffff;
  background-color: #bbbbbb;
}

.tags li a, .terms dt a {
  color: inherit;
}

.tags li a:before, .terms dt a:before {
  font-family: FontAwesome;
  content: "\f02b ";
  margin-right: 0.2em;
}

.terms ul {
  margin: 0 0 3ex 0;
  padding: 0;
}

.terms li {
  display: inline-block;
  margin: 0 10px;
}

.readmore {
  padding: 3px 30px 3px 20px;
  border-radius: 4px;
  font-weight: normal;
  color: #ffffff;
  background-color: #bbbbbb;
  position: relative;
}

.readmore:hover {
  background-color: #1199aa;
  text-decoration: none;
}

.readmore:after {
  content: "❯";
  position: absolute;
  right: 8px;
  color: #ffffff;
}

.menu {
  width: 200px;
  order: 1;
  background-color: #ffffff;
  padding: 0;
}

.menu ul {
  margin: 0;
  padding: 0;
  transition: all 0.2s ease-out;
  list-style: none;
  max-height: 0;
  overflow: hidden;
}

.menu div {
  padding: 0;
}

.menu div > a {
  padding: 10px 6px;
  font-size: 1.1rem;
}

.menu a {
  padding: 5px 13px;
  color: inherit;
  display: block;
}

.menu label {
  display: block;
  position: relative;
  padding: 10px 6px;
  font-size: 1.1rem;
}

.menu label:after {
  content: "❯";
  position: absolute;
  right: 8px;
  color: #cccccc;
  transition: all 0.2s ease-out;
}

.menu label.active:after {
  color: #1199aa;
}

.menu input {
  display: none;
}

.menu input:checked + label + ul {
  max-height: 800px;
}

.menu input:checked + label:after {
  transform: rotate(90deg);
}

.menu li {
  background: #f4f4f4;
}

.menu div, .menu label, .menu li, .menu label.active {
  border-bottom: 1px solid #cccccc;
}

.menu .active {
  font-weight: bold;
  color: #1199aa;
  border-color: #1199aa;
}

.menu label:hover, .menu a:hover {
  cursor: pointer;
  color: #1199aa;
  background-color: #f6ffff;
}

.cse-search-box {
  margin: 16px 0 6px auto;
}

.cse-search-box input {
  padding: 2px;
  font-size: 0.8rem;
  width: 10em;
  background: #ffffff;
}

.cse-search-box input:invalid {
  background: #ffffff url(https://www.google.com/cse/static/en/google_custom_search_watermark.gif) left no-repeat;
}

.cse-results table {
  box-shadow: none;
}

.gsc-adBlock {
  height: 1rem !important;
  overflow: hidden;
}

.warning {
  display: block;
  margin: 8px 0;
  padding: 6px 10px 6px 40px;
  background-color: #eeeeee;
  position: relative;
  background-color: #ffeeee;
}

.warning > p {
  margin: 4px 0;
}

.warning:before {
  font-family: "Ubuntu mono", monospace;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
  display: inline-block;
  position: absolute;
  left: 10px;
  text-align: center;
  vertical-align: middle;
  border-radius: 10%;
  width: 24px;
  line-height: 1.7;
}

.warning:before {
  content: "!";
  color: #cc3333;
}

.note {
  display: block;
  margin: 8px 0;
  padding: 6px 10px 6px 40px;
  background-color: #eeeeee;
  position: relative;
  background-color: #eeeeff;
}

.note > p {
  margin: 4px 0;
}

.note:before {
  font-family: "Ubuntu mono", monospace;
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
  display: inline-block;
  position: absolute;
  left: 10px;
  text-align: center;
  vertical-align: middle;
  border-radius: 10%;
  width: 24px;
  line-height: 1.7;
}

.note:before {
  content: "i";
  color: #336699;
}

#TableOfContents {
  max-width: 80%;
  border: solid 1px #999999;
  margin: 20px 20px 20px auto;
}

#TableOfContents:before {
  content: "Table of Contents";
  margin: 6px;
  padding: 6px;
}

#TableOfContents > ul {
  margin: 8px;
  padding: 0;
  list-style-type: none;
}

#TableOfContents > ul > li > ul > li > ul {
  display: none;
}

@media (max-width: 650px) {
  body {
    padding: 0;
    font-size: 0.9rem;
  }
  .menu {
    width: 100%;
    order: 2;
    margin: 12px 0;
  }
  main {
    max-width: 100%;
    order: 1;
  }
}

@media print {
  body {
    color: #000000;
    font-size: 0.8rem;
  }
  nav {
    display: none;
  }
  main {
    margin: 0;
    width: 100%;
    box-shadow: none;
  }
}

.hljs-comment,
.hljs-quote,
.hljs-meta {
  color: #969896;
}

.hljs-keyword,
.hljs-meta-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #a71d5d;
}

.hljs-link,
.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-string,
.hljs-doctag,
.hljs-regexp {
  color: #183691;
}

.hljs-title {
  color: #795da3;
}

.hljs-section,
.hljs-selector-id {
  font-weight: bold;
}

.hljs-name {
  color: #63a35c;
}

.hljs-attr {
  color: #795da3;
}

.hljs-symbol,
.hljs-bullet {
  color: #ed6a43;
}

.hljs-code {
  background: rgba(0, 0, 0, 0.05);
}

.hljs-deletion {
  background: #ffecec;
}

.hljs-addition {
  background: #eaffea;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
