<!doctype html>
<html{{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>
<head prefix="og: http://ogp.me/ns#">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<title>{{ if not .IsHome }}{{ .Title }}{{ with .Params.subtitle }}: {{ . }}{{ end }} - {{ end }}{{ .Site.Title }}</title>
{{ partialCached "sass.html" . -}}
{{ with .Site.Params.logo_src -}}
<link rel="icon" href="{{ . | relURL }}">
{{ end -}}
<link rel="icon" href="{{ "favicon.png" | relURL }}" sizes="32x32">
<link rel="apple-touch-icon" href="{{ "apple-touch-icon.png" | relURL }}" sizes="180x180">
<link rel="manifest" href="{{ "manifest.json" | relURL }}">
{{ with .Site.Params.theme_color }}<meta name="theme-color" content="{{ . }}">{{ end }}
{{ with $.Param "author.name" }}<meta name="author" content="{{ . }}">{{ end }}
{{ partial "ogp.html" . -}}
{{ partialCached "twittercard.html" . -}}
{{ if .IsPage }}
  {{- partialCached "math.html" . ($.Param "math") }}
  {{- if .Section }}{{ partial "breadcrumblist.html" . }}{{ end }}
{{ end -}}
{{ partialCached "google_analytics.html" . -}}
</head>
<body>
<header><h1><a href="{{ "/" | relURL }}">
{{ with .Site.Params.logo_src -}}
<img class="logo" src="{{ . | relURL }}" alt="{{ $.Site.Params.logo_alt }}">
{{ end -}}
{{ .Site.Title }}
</a></h1>
</header>
<main>{{ block "main" . -}}{{ end -}}
</main>
{{ $node := . }}
<nav class="side-bar">
<div class="menu">
{{ range .Site.Menus.main -}}
  {{- if .HasChildren }}
<input type="checkbox" id="menu-{{ .Identifier }}"{{ if $node.HasMenuCurrent "main" . }} checked{{ end }}>
<label for="menu-{{ .Identifier }}"{{ if $node.HasMenuCurrent "main" . }} class="active"{{ end }}>{{ .Name }}</label>
<ul>
    {{- range .Children }}
<li{{ if $node.IsMenuCurrent "main" . }} class="active"{{ end }}><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{- end }}
</ul>
  {{- else }}
<div{{ if $node.IsMenuCurrent "main" . }} class="active"{{ end }}><a href="{{ .URL }}">{{ .Name }}</a></div>
  {{- end }}
{{ end -}}
</div>
<form action="{{ relref . `search` }}" id="search-form">
<input type="search" name="q" placeholder="search">
</form>
</nav>
<footer><small>{{ .Site.Copyright }}</small></footer>
</body>
</html>
