{{ partial "header.html" . }}
<main>
<article>
<header><h1><a href="{{ .URL }}">
Custom Search
</a></h1>
</header>
{{ .Content }}
<div class="cse-results">
<script>
  (function() {
    var cx = '{{ .Site.Params.google_cse }}';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:searchresults-only></gcse:searchresults-only>
</div>
</article>
</main>
{{ partial "footer.html" . }}
