{{ partial "header.html" . }}
<main>
<article>
<header><h1><a href="{{ .URL }}">
{{ .Title }}{{ with .Params.subtitle }} — {{ . }}{{ end }}
</a></h1>
<nav class="tags"><ul>
{{ range .Params.tags -}}
<li><i class="fas fa-tag"></i> <a href="{{ "tags/" | relURL }}{{ . | urlize }}{{ if $.Site.Params.uglyURLs }}.html{{ end }}">{{ . }}</a></li>
{{ end -}}
</ul></nav>
</header>
{{ if .Params.toc }}{{ .TableOfContents }}{{ end }}
{{ .Content }}
</article>
</main>
{{ partial "nav.html" . }}
{{ partialCached "footer.html" . }}
