{{ partial "header.html" . }}
<main>
<article>
<header><h1>
<a href="{{ .URL }}">{{ .Title }}</a>
</h1></header>
{{ if .Params.toc }}{{ .TableOfContents }}{{ end }}
{{ .Content }}
</article>
</main>
{{ partial "nav.html" . }}
{{ if .Site.Params.page_source }}<aside>
<h1><label for="inputsource">Page source</label></h1>
<input type="checkbox" id="inputsource">
<pre id="pagesource"><code class="language-markdown">
+++
title = "{{ .Title }}"
+++

{{ .RawContent }}
</code></pre>
</aside>{{ end }}
{{ partial "footer.html" . }}
