body {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  min-height: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 16px;
  line-height: 1.5;
}

header {
  width: 100%;

  h1 {
    margin: 10px 6px;
    font-size: 1.2rem;
    font-weight: normal;
  }

  a {
    color: inherit;
  }

  .logo {
    height: 32px;
    vertical-align: text-bottom;
    margin-right: 4px;
  }
}

footer {
  width: 100%;
  color: #888c;
  padding: 12px 4px;
  text-align: right;
}

main,
.menu,
#search-form {
  box-shadow: 2px 2px 12px #0003;
}

.side-bar {
  width: 200px;
}

main {
  background-color: var(--canvas);
  max-width: calc(100% - 216px);
  width: 100%;
  padding: 24px;
}

article {
  header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-block-end: 1rem;

    h1 {
      margin: 0;
      font-size: 1.4rem;
      font-weight: bold;
    }
  }

  h2 {
    font-size: 1.4rem;
    background: linear-gradient(to right, #9994, #9990);
    margin-block: 1.2em 0.8em;
    padding: 0.4rem 0.7rem;
    font-weight: normal;
    position: relative;
    &::before {
      position: absolute;
      top: 0.2rem;
      left: -1.1rem;
      line-height: 1.1em;
      font-size: 1.2rem;
      white-space: pre;
      color: #8888;
      content: "#\A#";
    }
  }

  header + h2 {
    margin-block-start: 1em;
  }

  h3 {
    font-size: 1.2rem;
    background: linear-gradient(to right, #9993, #9990 80%);
    margin-block: 1.2em 0.8em;
    padding: 0.3rem 0.7rem;
    font-weight: normal;
    position: relative;
    &::before {
      position: absolute;
      top: 0;
      left: -1rem;
      line-height: 0.9em;
      font-size: 0.9rem;
      white-space: pre;
      color: #8888;
      content: "#\A#\A#";
    }
  }

  h4 {
    font-size: 1.1rem;
    background: linear-gradient(to right, #9993, #9990 60%);
    margin-block: 1.2em 0.8em;
    padding: 0.2rem 0.6rem;
    font-weight: normal;
    position: relative;
    &::before {
      position: absolute;
      top: 0;
      left: -0.9rem;
      line-height: 0.82em;
      font-size: 0.6rem;
      white-space: pre;
      color: #8888;
      content: "#\A#\A#\A#";
    }
  }

  a:hover {
    text-decoration: underline;
  }
}
