@media (max-width: 712px) {
  body {
    padding: 0;
    font-size: 0.9rem;
  }

  header {
    margin-inline: 0.5rem;
  }

  .side-bar {
    width: 100%;
    margin: 12px 8px;
  }

  main {
    max-width: 100%;
  }
}

@media print {
  html {
    font-size: 70%;
  }

  body {
    background: none;
    color: #000;
  }

  nav {
    display: none;
  }

  main {
    margin: 0;
    width: 100%;
    max-width: none;
    box-shadow: none;
  }
}
