.menu {
  background-color: Canvas;
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
    transition: all 0.2s ease-out;
    list-style: none;
    max-height: 0;
    overflow: hidden;
  }

  a {
    padding: 5px 13px;
    color: inherit;
    display: block;
  }

  div {
    padding: 0;

    & > a {
      padding: 10px 6px;
      font-size: 1.1rem;
    }
  }

  label {
    display: block;
    position: relative;
    padding: 10px 6px;
    font-size: 1.1rem;
    cursor: pointer;

    &::after {
      content: "❯";
      position: absolute;
      right: 8px;
      color: #8886;
      transition: all 0.2s ease-out;
    }

    &.active::after {
      color: var(--color-link);
    }
  }

  input {
    display: none;
  }

  input:checked {
    & + label + ul {
      max-height: 800px;
    }

    & + label::after {
      transform: rotate(90deg);
    }
  }

  li {
    background: #cccccc20;
    margin: 0;
  }

  div,
  label,
  li,
  label.active {
    border-bottom: 1px solid #8886;
  }

  .active {
    font-weight: bold;
    color: var(--color-link);
    border-color: var(--color-link);
  }

  div:hover,
  label:hover,
  li:hover {
    filter: brightness(1.1);
    transform: scale(1.01);
  }
}

#search-form {
  margin-block: 16px 0;

  input {
    font-size: 0.88rem;
    padding: 4px 6px;
    width: 100%;
    border: none;

    &::placeholder {
      opacity: 0.66;
    }
  }
}
