{{ partial "nav.html" . }}

{{ if and .IsPage .Site.Params.page_source }}<aside>
<h1><label for="inputsource">Page source</label></h1>
<input type="checkbox" id="inputsource">
<pre id="pagesource"><code class="language-markdown">
+++
title = "{{ .Title }}"
+++

{{ .RawContent }}
</code></pre>
</aside>{{ end }}

<footer>{{ .Site.Params.copyrights }}</footer>
</div><!-- #container -->

<script src="{{ .Site.Params.base_path }}js/highlight.pack.js"></script>
<script>{{ with .Site.Params.highlightjs_languages}}
hljs.configure({languages: {{ . }}});{{ end }}
hljs.initHighlightingOnLoad();
</script>
</body>
</html>
