{{ $node := . }}
<nav id="menu">{{ range .Site.Menus.main }}
{{ if .HasChildren }}
<input type="checkbox" id="{{ .Identifier }}"{{ if $node.HasMenuCurrent "main" . }} checked{{ end }}>
<label for="{{ .Identifier }}"{{ if $node.HasMenuCurrent "main" . }} class="active"{{ end }}>{{ .Name }}</label>
<ul>{{ range .Children }}
<li{{ if $node.IsMenuCurrent "main" . }} class="active"{{ end }}><a href="{{ .URL }}">{{ .Name }}</a></li>{{ end }}
</ul>{{ else }}
<div {{ if $node.IsMenuCurrent "main" . }} class="active"{{ end }}><a href="{{ .URL }}">{{ .Name }}</a></div>
{{ end }}{{ end }}
</nav>
