<!doctype html>
<html{{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>
<head prefix="og: http://ogp.me/ns#">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<title>{{ if not .IsHome }}{{ .Title }}{{ with .Params.subtitle }}: {{ . }}{{ end }} - {{ end }}{{ .Site.Title }}</title>
{{ partialCached "sass.html" . -}}
{{ partialCached "favicon.html" . -}}
{{ partialCached "manifest.html" . -}}
{{ with .Site.Params.theme_color }}<meta name="theme-color" content="{{ . }}">{{ end }}
{{ with $.Param "author.name" }}<meta name="author" content="{{ . }}">{{ end }}
{{ partial "opengraph.html" . -}}
{{ partialCached "twitter_cards.html" . -}}
{{ partialCached "iconify.html" . -}}
{{ if .IsPage }}
  {{- partialCached "math.html" . ($.Param "math") }}
  {{- if .Section }}{{ partial "breadcrumblist.html" . }}{{ end }}
{{ end -}}
{{ partialCached "google_analytics.html" . -}}
</head>
<body>
<header><a href="{{ "/" | relURL }}">
{{ with .Site.Params.logo_src }}{{ with resources.Get . -}}
<img class="logo" src="{{ .RelPermalink }}"{{ with $.Site.Params.logo_alt }} alt="{{ . }}"{{ end }}>
{{ end }}{{ end -}}
{{ .Site.Title }}
</a>
</header>
<main>{{ block "main" . -}}{{ end -}}
</main>
{{ $node := . }}
<nav class="side-bar">
<div class="menu">
{{ range .Site.Menus.main -}}
  {{- if .HasChildren }}
<input type="checkbox" id="menu-{{ .Identifier }}"{{ if $node.HasMenuCurrent "main" . }} checked{{ end }}>
<label for="menu-{{ .Identifier }}"{{ if $node.HasMenuCurrent "main" . }} class="active"{{ end }}>{{ .Name }}</label>
<ul>
    {{- range .Children }}
<li{{ if $node.IsMenuCurrent "main" . }} class="active"{{ end }}><a href="{{ .URL }}">{{ .Name }}</a></li>
    {{- end }}
</ul>
  {{- else }}
<div{{ if $node.IsMenuCurrent "main" . }} class="active"{{ end }}><a href="{{ .URL }}">{{ .Name }}</a></div>
  {{- end }}
{{ end -}}
</div>
<search><form action="{{ relref . `search` }}">
<input type="search" name="q" placeholder="search">
</form></search>
</nav>
<footer><small>{{ .Site.Copyright }}</small></footer>
</body>
</html>
