.cse-search-box {
  margin: 16px 0 6px auto;

  input {
    padding: 2px;
    font-size: 0.8rem;
    width: 10em;
    background: #ffffff;

    &:invalid {
      background: #ffffff url(https://www.google.com/cse/static/en/google_custom_search_watermark.gif) left no-repeat;
    }
  }
}

.cse-results table {
  box-shadow: none;
}
