{{ $delim := .Get "delim" }}
{{ $src := .Get "src" }}
{{ $csv := getCSV $delim $src }}
<table>
{{ with .Get "caption" }}  <caption>{{ . }}</caption>
{{ end }}{{ if .Get "header" }}  <thead>{{ range first 1 $csv }}
    <tr>{{ range . }}<th>{{ . }}</th>{{ end }}</tr>{{ end }}
  </thead>
  <tbody>{{ range after 1 $csv }}
    <tr>{{ range . }}<td>{{ . }}</td>{{ end }}</tr>{{ end }}
  </tbody>
{{ else }}  <tbody>{{ range $csv }}
    <tr>{{ range . }}<td>{{ . }}</td>{{ end }}</tr>{{ end }}
  </tbody>
{{ end }}</table>
